.vs/
.vscode/
x64/
x86/
build/
bin/
obj/
Debug/
Release/
out/

*.user
*.VC.db
*.VC.opendb
*.suo
*.ipch
*.pdb
*.ilk
*.obj
*.lib
*.exe

DerivedDataCache/
Intermediate/
Saved/

# optional large/generated assets
*.cache
*.log